<!--Include header-->
<%- include('inc/_header.ejs') %>

<a href="/" class="err_a"><i class="fa-solid fa-angles-left icon_space"></i>Back to Home Page</a>
<img src="/img/error404.gif" class="err_banner">

    <!--Include footer-->
    <%- include('inc/_footer.ejs') %>